.messageList {
  flex: 1;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 100%;
  background-color: #000;
  transition: padding-bottom 0.3s ease;
}

.messageList.withPrefilledOptions {
  /* This class is applied when prefilled options are visible */
  scroll-padding-bottom: 200px; /* Adjust this value based on prefilled options height */
}

.messageList::-webkit-scrollbar {
  width: 0;
  display: none;
}

.messageList::-webkit-scrollbar-thumb {
  background-color: #111613;
  border-radius: 4px;
}
